<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/details.css" />
    <title>Catalogo Lugares</title>
  </head>
  <body>

<body>
    <%- include('./components/header') %>
    <main>
        <div class="container">
            <span><% if(message != ""){ message } %></span>
            <form method="POST" action="/deletar/<%= lugar.id %>">
                <div class="item">
                    <h2>Dejesa realmente deletar?</h2>
                    <span><%= lugar.nome %></span>
                </div>
               
                <div class="botoes">
                    <a id="editar" href="/lugares/<%= lugar.id %>">Cancelar</a>
                    <Button id="apagar" type="submit">confirmar Exclusão</Button>
                </div>
                <!-- <input type="hidden" id="teste" name="teste"> -->
            </form>
        </div>
        
    </main>
   
        <%- include('./components/footer') %>
   
    <script src="./JS/script.js"></script> 
</body>
</html>